@model Clinic.Models.Patient

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <h3>Donnée général</h3>
        <dt>
            Nom
            @*@Html.DisplayNameFor(model => model.nom)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            Prenom
            @*@Html.DisplayNameFor(model => model.prenom)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenom)
        </dd>

        <dt>
            Date de naissance
            @*@Html.DisplayNameFor(model => model.date_naissance)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_naissance)
        </dd>

        <dt>
            Sexe
            @*@Html.DisplayNameFor(model => model.sexe)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexe)
        </dd>

        <dt>
            Profession
            @*@Html.DisplayNameFor(model => model.profession)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profession)
        </dd>

        <dt>
            Situation familial
            @*@Html.DisplayNameFor(model => model.situation_familial)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.situation_familial)
        </dd>

        <dt>
            Groupe sanguin
            @*@Html.DisplayNameFor(model => model.groupe_sanguin)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.groupe_sanguin)
        </dd>

        <dt>
            Email
            @*@Html.DisplayNameFor(model => model.email)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Telephone
            @*@Html.DisplayNameFor(model => model.telephone)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telephone)
        </dd>

        <dt>
            Date de creation
            @*@Html.DisplayNameFor(model => model.dateCreation)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateCreation)
        </dd>
        <h3>Adresse</h3>
        <dt>
            Pays
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adress.pays)
        </dd>
        <dt>
            Ville
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adress.ville)
        </dd>
        <dt>
            Prefecture
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adress.prefecture)
        </dd>
        <dt>
            Village
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adress.village)
        </dd>

        <h3>Contact</h3>
        <dt>
            Nom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cp.nom)
        </dd>
        <dt>
            Prenom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cp.prenom)
        </dd>
        <dt>
            Sexe
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cp.sexe)
        </dd>
        <dt>
            Profession
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cp.profession)
        </dd>
        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cp.email)
        </dd>
        <dt>
            telephone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cp.telephone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Patient }) |
    @Html.ActionLink("Back to List", "Index")
</p>
