@model Clinic.Adress

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Adress</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prefecture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prefecture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.village)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.village)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPAtient.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPAtient.nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Adresse }) |
    @Html.ActionLink("Back to List", "Index")
</p>
